---
import { timestampToHuman } from "../utils/dates"

const { title, url, date, minutesRead, imageUrl } = Astro.props
const formattedDate = timestampToHuman(date)
---

<li class="pd-0 list-none text-sm mb-6 flex transition-transform duration-200 hover:scale-[1.05]">
  <a 
    title={`Go to ${title}`} 
    href={url} 
    class="flex align-top items-start gap-3 md:gap-6 border border-transparent hover:border-red rounded-[15px] transition-all duration-200 w-full"
  >
    <div class="w-[120px] h-[90px] md:w-[250px] md:h-[150px] flex-shrink-0">
      <img 
        class="rounded-[15px] w-full h-full object-cover" 
        src={imageUrl} 
        alt={title}
      />
    </div>
    <div class="flex flex-col-reverse gap-2">
      <div class="flex text-[12px] text-description">
        <i><time datetime={date}>{formattedDate}</time></i>
        <i class="mx-1">//</i>
        <span>{minutesRead}</span>
      </div>      
      <h3 class="font-dela text-sm md:text-xl">{title}</h3>
    </div>
  </a>
</li>
