---
export const prerender = true
import BaseLayout from "../../layouts/BaseLayout.astro"

const pageTitle = "Links"

const socialMedias = [
  {
    url: "https://www.x.com",
    username: "werlearthur",
    label: "X",
    // Icon: TwitterIcon,
  },
  {
    url: "https://www.instagram.com",
    username: "werlearthur",
    label: "Instagram",
    // Icon: InstagramIcon,
  },
]
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col items-center justify-center mt-6 p-[20px]">
    <img 
      src="/profile.jpg" 
      class="rounded-full md:w-[200px] md:h-[200px] w-[150px] h-[150px] object-cover mb-4" 
      alt="Arthur Werle's profile picture"
    />
    <h1 class="mb-10">meus links :)</h1>
    <div class="flex flex-col gap-4">
      {
        socialMedias.map(({ url, username, label }) => (
          <a 
            class="rounded border-2 border-black px-10 py-2 text-center animated-link underline" 
            href={`${url}/${username}`}
            target="_blank"
            title={`access arthur's profile on ${label}`}
          >
            <span class="unset align-middle gap-1 text-sm text-center block">
              {label}
            </span>
          </a>
        ))
      }
    </div>

  </div>
</BaseLayout>
