---
import Tags from "../components/Tags.astro"
import { timestampToHumanUTC } from "../utils/dates"
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props
const { minutesRead } = frontmatter
const formattedDate = timestampToHumanUTC(frontmatter.pubDate)
---

<BaseLayout
  pageTitle={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image}
>
  <div class="flex mb-1 text-description">
    <i class="text-sm mr-1">{frontmatter.author},</i>
    <i class="text-sm mr-1"
      ><time datetime={frontmatter.pubDate}>{formattedDate}</time>
    </i>
    <i class="mr-1">//</i>
    <i class="text-sm">{minutesRead}</i>
  </div>

  <div class="mb-5">
    <Tags tags={frontmatter.tags} />
  </div>

  <article class="prose text-lg list-disc text-justify">
    <slot />
  </article>
</BaseLayout>
